:root{
    --primary:rgb(65,174,223);
    --secondary:rgb(188,188,188);
    --accent:rgb(235,235,235);
    /* --whiteC:; */
    --blackC:rgb(49,49,49);
}
.fbColor{
    background-color: #3b5998;
}
.twitterColor{
    background-color: #55acee;
}
.instagramColor{
    background-color: #ac2bac
}
.googleColor{
    background-color: #dd4b39;
}
body{
    color: var(--secondary);
}
h5, h1{
    color: var(--blackC);
}

@media only screen and (min-width: 992px) {
    .imgNavbar{
    max-width: 130px;
}
}
@media only screen and (min-width: 1179px) {
    .imgNavbar{
    max-width: fit-content;
}
}
.navColor{
    color: var(--blackC);
}
.navColor:hover{
    color: var(--primary);
}
.appointmentBtn{
    background-color: var(--primary);
    border: 2px solid var(--primary);
    transition: 0.2s;
    color: white;
}
.appointmentBtn:hover{
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
}
.appointmentBtn:active{
    transform: translateY(3px);
}
.navactiveC{
    transform: scale(1.2);
    color: var(--primary) !important;
}
.navactiveC:hover{
    color: var(--blackC) !important;
}
.imgHeader{
    min-height: 40vh;
    width: 100%;
    padding-top: 300px;
    background: url(/public/media/mt-ti-white.png), url(/public/media/solid-color-image.png) ;
    background-size: cover;
    background-repeat: no-repeat;
}
.iconSectionContainer{
    width: 80px;
    height: 80px;
    float:left;
}
.iconCustom{
    /* border: 2px solid var(--primary); */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: white;
    color: var(--primary);
}
.caselle{
    color: var(--primary);
    padding-bottom: 20px;

}
.bottoneCaselle{
   border: 2px solid var(--primary);
   background-color: var(--primary);
   color: white;
   transition: 0.2s;
   -webkit-transition: 0.2s;
   -moz-transition: 0.2s;
   -ms-transition: 0.2s;
   -o-transition: 0.2s;
}
.bottoneCaselle:hover{
border: 1px solid var(--primary);
background-color: white;
color: var(--primary);

}
.bottoneCaselle:active{
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
}
.customCard{
    width: 300px;
    height: 600px;
}
.linkProfiloStaff{
    font-size: 15px;
}

.cardC{
    max-width: 300px;
}

.containerC{
    background-color: var(--secondary);
}
.footerC{
    background-color: var(--blackC);
}
.btnFooter{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none !important;
    color: white;
}
.btnFooter:hover{
    background-color: var(--accent) !important;
    color: var(--blackC) !important;
}

.h4Accordion:hover{
    color: var(--primary);

}
